section.whereAndWhen {
    position: relative;
    top: -6vh;
    font-size: 25pt;
}

section.whereAndWhen::before {
    content: "";
    width: 100vw;
    height: 10vw;
    display: block;
    background-size: cover;
    background-image: url("../public/backgrounds/green-top.svg");
    background-position: top center;
}

section.whereAndWhen::after {
    content: "";
    width: 100vw;
    height: calc(20vw + 100px);
    display: block;
    background-size: cover;
    background-image: url("../public/backgrounds/green-bottom.svg");
    background-position: bottom center;
}

.infoGrid {
    display: grid;
    grid-template-columns: minmax(320px, auto) minmax(320px, auto);
    align-items: start;
    background-color: #a3b18a;
}

.polaroid {
    top: -100px;
    position: relative;
    transform: scale(1.3);
    right: -80px;
    height: 0;
}

.polaroid1 {
    height: 250px;
    min-width: 300px;

    left: 70px;
    position: relative;
}

.polaroid2 {
    height: 300px;
    min-width: 300px;

    position: relative;
    top: -110px;
    z-index: 3;
    left: -30px;
}

.polaroid3 {
    height: 250px;
    min-width: 300px;

    position: relative;
    top: -200px;
    z-index: 2;
    left: 50px;
}

.text {
    color: #48593a;
    margin-right: 10vw;
    margin-left: 10vw;
}

.text address {
    font-size: 17pt;
    font-style: normal;
}

.noWrap {
    white-space: nowrap;
}

.date {
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 1fr;
}

.locationGrid {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-auto-rows: min-content;
    align-items: center;
}

.locationGrid * {
    cursor: pointer;
}

.locationGrid .icon {
    grid-row: 1 / span 3;
}

.icon {
    height: 45pt;
    margin-right: 1rem;
}

@media all and (max-width: 1300px) {
    section.whereAndWhen {
        font-size: 17pt;
    }

    .text address {
        font-size: 14pt;
    }

}

@media all and (max-width: 900px) {
    .infoGrid {
        grid-template-columns: minmax(320px, auto);
        justify-content: center;
    }

    section.whereAndWhen {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .polaroid {
        position: initial;
        transform: scale(0.8);
    }

    .locationGrid {
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-auto-rows: min-content;
        align-items: center;
    }

    .text {
        margin-left: 7vw;
        margin-right: 7vw;
        margin-bottom: 100px;
    }

    section.whereAndWhen {
        margin-bottom: 450px;
    }

    .icon {
        height: 25pt;
    }
}

@media all and (max-width: 319px) {
    .infoGrid {
        grid-template-columns: minmax(280px, auto);
    }
    section.whereAndWhen {
        font-size: 14pt;
    }

    .text address {
        font-size: 12pt;
    }
}
